{% extends 'base.html.twig' %}

{% block title %}Properties
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
			{{property.title}}</h1>
		<hr>
		{% for msg in app.flashes('success') %}
			<div class="alert alert-success">{{msg}}</div>
		{% endfor %}

		{% if not form.vars.valid %}
			<div class="alert alert-danger">
				<p>Errors in some fields</p>
			</div>
		{% endif %}

		<div class="row">
			<div class="col-5">
				{% if property.filename %}
					{# <img src="/images/properties/{{prop.filename}}" alt="" width="300" class="card-img-top"> #}
					<img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium')}}" alt="" class="card-img-top">
				{% else %}
					<img src="{{'/images/properties/homestead.png'| imagine_filter('thumb')}}" alt="medium" class="card-img-top">
				{% endif %}
			</div>
			<div class="col-7">
				<div class="p-3">
					<h2>{{property.rooms}}
						rooms,
						{{property.surface}}
						m²</h2>
					<span class="text-dark">{{property.city}}
						({{property.postalcode}})</span>

					<h3 class="text-primary">{{ property.formattedPrice }}
						$</h3>
					<a href="#" class="btn btn-info">Contact agency</a>
					<div class="mt-4" id="contactForm">
						{{form_start(form)}}
						{{form_widget(form)}}
						<button type="submit">Send</button>
						{{form_end(form)}}
					</div>
				</div>
			</div>
		</div>
		<nav class="nav navbar" id="tab"></nav>

		<p class="w-50">
			{{property.description | nl2br }}
		</p>
		<hr>

		<div class="row">
			<div class="col-md-8">
				<h2>Caracteritics</h2>
				<table class="table table-striped">
					<tr>
						<td>Surface</td>
						<td>{{property.surface}}
							m²</td>
					</tr>
					<tr>
						<td>Rooms</td>
						<td>{{property.rooms}}</td>
					</tr>
					<tr>
						<td>Bedrooms</td>
						<td>{{property.bedrooms}}</td>
					</tr>
					<tr>
						<td>Heat</td>
						<td>{{property.heatType}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<h2>Specifics</h2>
				<ul class="list-group">
					{% for option in property.options %}
						<li class="list-group-item">{{option.name}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
