{% extends 'base.html.twig' %}

{% block title %}Properties
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Properties</h1>
		<hr>
		<div class="jumbotron">
			{{form_start(form)}}
			<div class="form-row align-items-end">
				<div class="col">
					{{form_row(form.minSurface)}}
				</div>
				<div class="col">
					{{form_row(form.maxPrice)}}
				</div>
				<div class="col">
					{{form_row(form.options)}}
				</div>
				<div class="col">
					<div class="form-group">
						<button class="btn btn-info">Filter</button>
					</div>
				</div>
			</div>
			{{form_end(form)}}
		</div>
		<div class="row flex justify-content-around">
			{% for prop in properties %}
				{% include "property/_property.html.twig" %}
			{% endfor %}
		</div>

		<div class="navigation m-auto w-50">
			{{ knp_pagination_render(properties) }}
		</div>
	</div>
{% endblock %}
